# Python
__pycache__/
*.py[cod]
.Python
.venv/
.venv_cuda/
.venv_rocm57/
.venv_rocm62/

# Database & Data
*.db
*.sqlite
data/raw/
logs/

# Security
.env

# Trading
backtest_results/
models/
binance_futures_bot_py/state/*
.DS_Store